# Prerequisites

Install the [Pandas](https://pandas.pydata.org/) library for your Python environment

# Import Pandas

In [39]:
import pandas as pd

# Load Data From Excel

### File is in the same directory as your Jupyter Notebook

In [40]:
car_sales_data = pd.read_excel("Car Sales.xlsx")

In [41]:
# Show the first 5 rows
car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018

### File is in a different directory than your Jupyter Notebook

In [42]:
other_path_car_sales_data = pd.read_excel("C:/Path/To/Excel/File/Car Sales.xlsx") # Make sure to use "/" slashes and not "\" slashes

In [43]:
# Show the first 5 rows
other_path_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018

### From a URL

In [44]:
url = "https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.xlsx" # Note the URL Encoding with "%20" for spaces

url_car_sales_data = pd.read_excel(url)

In [45]:
# Show the first 5 rows
url_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018