---
title: "Load a CSV File With Python and Pandas"
author: "Andrew Bancroft"
date:   2019-05-22
description: "Several examples of how to load a csv file into a Pandas dataframe with Python"
type: technical_note
draft: false
comments: true
---

## Prerequisites

* Install the [Pandas](https://pandas.pydata.org/) library for your Python environment
* Cells in this notebook expect the <a href="https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.csv">Car Sales.csv</a> file to be in certain locations; specifics are in the cell itself
* [Resources](#resources) to help you practice are available at the end

## First Things First

In [7]:
import pandas as pd

## Load Data From a CSV File

### File is in the same directory as your Jupyter Notebook

In [8]:
# Read the CSV file
car_sales_data = pd.read_csv("Car Sales.csv")

# Show the first 5 rows
car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902.0,650.0,754.0,792.0,1.0,2018.0
1,Clyde's Clunkers,710.0,476.0,518.0,492.0,2.0,2018.0
2,Clyde's Clunkers,248.0,912.0,606.0,350.0,3.0,2018.0
3,Clyde's Clunkers,782.0,912.0,858.0,446.0,4.0,2018.0
4,Clyde's Clunkers,278.0,354.0,482.0,752.0,5.0,2018.0

### File is in a different directory than your Jupyter Notebook
The example will use your "home directory" to make this example applicable across operating systems, but you can use any path as long as the file exists there...

In [9]:
from os.path import expanduser as ospath

user_home_directory = ospath("~")

In [10]:
# Make sure to use "/" slashes and not "\" slashes
# There actually needs to be folders named "Path" and "To" and "CSV" and "File"
# in your home directory (the "~" means "home directory") for this cell to work
csv_file_path = user_home_directory + "/Path/To/CSV/File/Car Sales.csv"

other_path_car_sales_data = pd.read_csv(csv_file_path)

# Show the first 5 rows
other_path_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902.0,650.0,754.0,792.0,1.0,2018.0
1,Clyde's Clunkers,710.0,476.0,518.0,492.0,2.0,2018.0
2,Clyde's Clunkers,248.0,912.0,606.0,350.0,3.0,2018.0
3,Clyde's Clunkers,782.0,912.0,858.0,446.0,4.0,2018.0
4,Clyde's Clunkers,278.0,354.0,482.0,752.0,5.0,2018.0

### From a URL

In [11]:
# Note the URL Encoding with "%20" for spaces
url_to_csv_file = "https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.csv"

# Read the CSV file
url_car_sales_data = pd.read_csv(url_to_csv_file)

# Show the first 5 rows
url_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902.0,650.0,754.0,792.0,1.0,2018.0
1,Clyde's Clunkers,710.0,476.0,518.0,492.0,2.0,2018.0
2,Clyde's Clunkers,248.0,912.0,606.0,350.0,3.0,2018.0
3,Clyde's Clunkers,782.0,912.0,858.0,446.0,4.0,2018.0
4,Clyde's Clunkers,278.0,354.0,482.0,752.0,5.0,2018.0

<a name="resources" class="jump-target"></a>
<div class="resources">
  <div class="resources-header">
    Resources
  </div>
  <ul class="resources-content">
    <li>
        <i class="fas fa-file-csv"></i> <a href="https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.csv">Car Sales.csv</a>
    </li>
    <li>
        <i class="fas fa-book"></i> <a href="https://raw.githubusercontent.com/andrewcbancroft/datadaylife-blog/master/content/notes/load-csv-file-with-python-pandas.ipynb">load-csv-file-with-python-pandas.ipynb</a>
    </li>
  </ul>
</div>