---
title: "Load an Excel File With Python and Pandas"
author: "Andrew Bancroft"
date:   2019-05-22
description: "Several examples of how to load an excel file into a Pandas dataframe with Python"
type: technical_note
draft: false
comments: true
---

<a name="resources" class="jump-target"></a>
<div class="resources">
  <div class="resources-header">
    Resources
  </div>
    <div class="resources-download-instructions">
    Right-click -> Save as...
  </div>
  <ul class="resources-content">
    <li>
        <i class="fas fa-file-excel"></i> <a href="https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.xlsx">Car Sales.xlsx</a>
    </li>
    <li>
        <i class="fas fa-book"></i> <a href="https://raw.githubusercontent.com/andrewcbancroft/datadaylife-blog/master/content/notes/data-engineering-python/load-excel-file-with-python-pandas.ipynb">load-excel-file-with-python-pandas.ipynb</a>
    </li>
  </ul>
</div>

## Prerequisites

* Install the [Pandas](https://pandas.pydata.org/) library for your Python environment
* Cells in this notebook expect the <a href="https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.xlsx">Car Sales.xlsx</a> file to be in certain locations; specifics are in the cell itself
* [Resources](#resources) to help you practice

## First Things First

In [6]:
import pandas as pd

## Load Data From Excel

### File is in the same directory as your Jupyter Notebook

In [7]:
# Read the Excel file
car_sales_data = pd.read_excel("Car Sales.xlsx")

# Show the first 5 rows
car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018

### File is in a different directory than your Jupyter Notebook
The example will use your "home directory" to make this example applicable across operating systems, but you can use any path as long as the file exists there...

##### Find the home directory using Python

In [8]:
from os.path import expanduser as ospath

user_home_directory = ospath("~")

In [9]:
# Make sure to use "/" slashes and not "\" slashes
# There actually needs to be folders named "Path" and "To" and "Excel" and "File"
# in your home directory (the "~" means "home directory") for this cell to work
excel_file_path = user_home_directory + "/Path/To/Excel/File/Car Sales.xlsx"

other_path_car_sales_data = pd.read_excel(excel_file_path)

# Show the first 5 rows
other_path_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018

### From a URL

In [10]:
# Note the URL Encoding with "%20" for spaces
url_to_excel_file = "https://github.com/andrewcbancroft/datadaylife-blog/raw/master/datasets/Car%20Sales.xlsx"

# Read the Excel file
url_car_sales_data = pd.read_excel(url_to_excel_file)

# Show the first 5 rows
url_car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018