---
title: ""
author: "Andrew Bancroft"
date:   2019-05-22
description: ""
type: technical_note
draft: true
comments: true
wip: true
---

In [4]:
import pandas as pd

In [5]:
# Read the Excel file
car_sales_data = pd.read_excel("Car Sales.xlsx")

# Show the first 5 rows
car_sales_data.head(5)

,DealershipName,RedCars,SilverCars,BlackCars,BlueCars,MonthSold,YearSold
0,Clyde's Clunkers,902,650,754,792,1,2018
1,Clyde's Clunkers,710,476,518,492,2,2018
2,Clyde's Clunkers,248,912,606,350,3,2018
3,Clyde's Clunkers,782,912,858,446,4,2018
4,Clyde's Clunkers,278,354,482,752,5,2018

In [6]:
car_sales_data["DateSold"] = car_sales_data.apply(lambda row: datetime.date(row["YearSold"], row["MonthSold"], 1), axis=1)

NameError: ("name 'datetime' is not defined", 'occurred at index 0')

In [ ]:
car_sales_data.head(5)